<nav class="navbar  ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" routerLink = "/news" >
       <img src = "assets/image/blueRose_logo.png" width="120px" margin = "auto" style="background-color: white;">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" style="margin-top: 25px;">
        <li routerLinkActive = "active"><a routerLink="/news" >Home</a></li>

        <li routerLinkActive = "active" ><a routerLink="/contact" >Contact us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
  </div>
</nav>
